
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /trungdung/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /trungdung/index.php [L]
</IfModule>

# END WordPress

php_value upload_max_filesize 10M
php_value post_max_size 20M
php_value memory_limit 30M